HOST=0.0.0.0
PORT=1337
APP_KEYS=toBeModified1,toBeModified2,toBeModified3,toBeModified4
API_TOKEN_SALT=toBeModified
ADMIN_JWT_SECRET=toBeModified
JWT_SECRET=toBeModified
DATABASE_CLIENT=sqlite
GMAIL_USER=your-email@gmail.com
GMAIL_PASS=your-gmail-app-password